.aboutMe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10vw;
    margin-right: 10vw;
}

.aboutMeHeader {
    font-size: 3rem;
    margin: 0
}
.aboutMePara {
    font-size: 1.5rem;
    color: black;
}
