.about {
    display: flex;
    flex-direction: row;
    padding-top: 5vh;
    text-align: center;
    /* background-color: #264653; */
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.aboutText {
    display: block;
    flex-direction: column;
    width: 50vw;
}

.intro {
    font-family: 'Oswald', sans-serif;
    font-size: 5rem;
    color: #e76f51;
}

.introDetails {
    font-family: 'Oswald', sans-serif;
    font-size: 1.5rem;
    color: #e9c46a;
}
.logos {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.logoimage {
    width: 50px;
    margin: 5px;
}


.profileimage {
    width: 35vw;
    border-radius: 50%;
}

.link:hover {
    color: orange;
    cursor: pointer;
}


@media (max-width: 690px) {

    .about {
        flex-direction: column;
        height: auto;
    }
    .intro {
        font-size: 3rem;
    }
}