@import "./_variables.scss";
@import "./mixins.scss";

.aboutMe {

    padding: 100px 0px;

    .imageContainer {
        text-align: center;
        padding-bottom: 25px;;

        .profileImage {
            width: 15vw;
            border-radius: 50%;
        }
    }


    .aboutMePara {
        font-size: 1rem;
        color: $fontPara;
        font-family: $paraFont;
        line-height: 1.4;
        text-align: center;
    }

    .zigzag {
        width: 100px;
        height: 10px;
        background-image: url("./assets/ZigZag.svg");
        background-repeat: repeat-x;
    }
}



@media (max-width: 690px) {

    .profileImage {
        width: 50vw;
        margin-bottom: 20px;
    }

}