.about {
    display: flex;
    flex-direction: row;
    padding-top: 5vh;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.aboutText {
    display: flex;
    flex-direction: column;
    width: 50vw;
    padding-left: 50px;
}

.name {
    font-family: 'Oswald', sans-serif;
    font-size: 4rem;
    color: #F4A261;
    margin: 0
}

.intro {
    font-family: 'Oswald', sans-serif;
    font-size: 1.2rem;
    margin: 0
}

.oneLiner {
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    margin: 0;
    color: #774C60;
}

.introDetails {
    font-family: 'Oswald', sans-serif;
    font-size: 1.5rem;
    color: black;
}
.logos {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.logoimage {
    width: 50px;
    margin: 5px;
}

.logoimage:hover {
    filter: invert(90%) sepia(20%) saturate(2983%) hue-rotate(312deg) brightness(96%) contrast(100%);
}

.arrowLink {
    text-align: center;
}
.arrow {
    height: 25px;
}

.arrow:hover {
    filter: invert(90%) sepia(20%) saturate(2983%) hue-rotate(312deg) brightness(96%) contrast(100%);
}

.profileImage {
    width: 20vw;
    border-radius: 50%;
}

.link:hover {
    color: #F4A261;
    transition: 250ms;
}


@media (max-width: 690px) {

    .about {
        flex-direction: column;
        height: auto;
    }
    .intro {
        font-size: 3rem;
    }
}