@import "./_variables.scss";
@import "./mixins.scss";

.aboutMe {

    padding-top: 100px;

    .imageContainer {
        text-align: center;

        .profileImage {
            width: 15vw;
            border-radius: 50%;
        }
    }


    .aboutMePara {
        font-size: 1rem;
        color: $fontPara;
        font-family: $paraFont;
        line-height: 1.4;
        text-align: center;
    }

}



@media (max-width: 690px) {

    .profileImage {
        width: 50vw;
        margin-bottom: 20px;
    }

}