#outer-container {
  background-image: linear-gradient(#264653 0% 30% , #2a9d8f 50% 60%, #264653 70% 100%   );
}

.App {
  text-align: center;
  height: 100%;
  overflow: hidden;
}


a, a:visited {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
}

table {
  width: 100%;
}

input {
  border: none;
}