.contactForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: #264653; */
    padding-bottom: 100px;
}


.nameemail {
    display: flex;
    flex-direction: row;
    padding-bottom: 25px;
}

.form {
    display: flex;
    flex-direction: column;
}

.message {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

textarea {
    resize: none;
    height: 100px;
    width: 100%;
  }
