.cocktail, .breaktimer, .jldesign {
    width: 80vw;
    margin-left: 10vw;
    margin-right: 0;
    padding-right: 10vw;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    height: auto;
    padding-bottom: 50px;
    overflow: hidden;
    margin-bottom: 200px;
    background-color: #8FC0A9;
    box-shadow: 10px 10px 5px 0px rgb(0 0 0 / 47%);
}

.breaktimer, .jldesign {
    flex-direction: row;
    margin-left: 0;
    margin-right: 10vw;
    padding-left: 10vw;
    padding-right: 0;
}

.techList {
    display: flex;
    flex-direction: row;
    color: #8B2635;
}

.techItem {
    margin-left: 10px;
    margin-right: 10px;
}

.screenshotContainer {
    display: flex;
    align-items: center;
    width: 50%;
    margin: 2vw 2vw 2vw 2vw;
}

.screenshot {
    width: 100%;
    height: auto;
    border-color: #36383a;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    box-shadow: 10px 10px 5px 0px rgb(0 0 0 / 47%);
}

.descriptor {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.projectHeader {
    font-family: 'Oswald', sans-serif;
    font-size: 3rem;
    color: #774C60;
}

.projectParagraph {
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    color: #001B2E;
}

.projectButtons {
    flex-direction: row;
    justify-content: center;
}

.linkButton {
    margin-right:10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: none;
    border-color: #36383a;
    border-width: 2px;
    border-style: solid;
    box-shadow: 1px 1px 10px rgb(0 0 0 / 47%);
}

.linkButton:hover {
    background-color: #f4a261;
    transition: 250ms;
}


@media (max-width: 690px) {
    .cocktail, .breaktimer, .jldesign{
        flex-direction: column-reverse;
        padding-top: 75px;
        height: auto;
    }
    .screenshotContainer {
        width: calc(100% - 20px);
        margin: 10px 10px 10px 10px;
    }
    .descriptor {
        width: 100%;
    }
}