.cocktail {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    background-color: #264653;
    padding-top: 75px;
}

.breaktimer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #264653;
    padding-top: 50px;
}

.screenshot {
    width: 50%;
    margin: 2vw 2vw 2vw 2vw;
}

.descriptor {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



@media (max-width: 690px) {
    .cocktail, .breaktimer{
        flex-direction: column-reverse;
        padding-top: 75px;
    }
    .screenshot {
        width: calc(100% - 20px);
        margin: 10px 10px 10px 10px;
    }
    .descriptor {
        width: 100%;
    }
}