.cocktail, .breaktimer {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    /* background-color: #264653; */
    height: 70vh;
    padding-bottom: 10vh;
    overflow: hidden;
}

.breaktimer {
    flex-direction: row;

}

.screenshotContainer {
    display: flex;
    align-items: center;
    width: 50%;
    margin: 2vw 2vw 2vw 2vw;
}

.screenshot {
    width: 100%;
    height: auto;
}

.descriptor {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



@media (max-width: 690px) {
    .cocktail, .breaktimer{
        flex-direction: column-reverse;
        padding-top: 75px;
    }
    .screenshotContainer {
        width: calc(100% - 20px);
        margin: 10px 10px 10px 10px;
    }
    .descriptor {
        width: 100%;
    }
}