@import "./_variables.scss";
@import "./mixins.scss";

.skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logoimage {
    width: 50px;
}


.skillsList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

.skillsItem {
    margin-left: 20px;
    margin-right: 20px;
    width: 75px;
    text-align: center;
    margin-bottom: 10px;
}

.skillsText {
    text-align: center;
}