@import "./_variables.scss";
@import "./mixins.scss";

.skills {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .skillsList {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 25px;

        .skillsItem {
            text-align: center;
            width: 100px;
            cursor: pointer;

            &:hover>.skillsText {
                opacity: 1;
                transition: 0.25s;
            }

            .logoImage {
                width: 50px;
            }
            .skillsText {
                text-align: center;
                opacity: 0;
                transition: 0.25s;

                @media (hover: none) {
                    opacity: 1;
                }
            }
        }
    }
}







